body{
    background: #e2e3e5 !important;
}
.fa-facebook-square,.fa-twitter-square,.fa-google-plus-square,.fa-youtube{
    margin: 0 0 0 20px ;
    font-size: 27px !important;
}
.fa-sign-out{
    font-size: 27px !important;
}
.mainSlide{
    padding: 60px;
}
.catalog{
    text-align: center;
}
.card{
    background-color: #c2c3c7 !important;
}
.btns{
    color: #fff !important;
    border-color: rgb(243, 146, 146);
}
footer{
    background: black !important;
    color: silver !important;
    height: 70px;
}
.footer{
    padding: 20px;
}
.card{
    text-align: center !important;
}
.inviCard{
    padding: 20px;
}